body{
  background-color: #F6D198;
}
h1{
  padding-bottom: 5%;
}

.quizBorder {
  /* max-height:400px ; */
  max-width: 50%;
  height: 800px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 2%;



}

.option{
  min-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 5%;

}

.btn{
  padding: 5%;
  max-width: 50%;
  margin-bottom: 2%;
}




.form{
  text-align: center;
  margin-left: 20px;

}

.answer{
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 40px;
  margin-top: 40px;
  background-color: #C3EDEA;
}
